include ../../buy-button/buy-button
mixin catalog-item(options)
    div.col-12.col-sm-6.col-md-3.catalog-item(class=options.classes).text-center
        div.catalog-item__container
            div.catalog-item__img
                img(src='img/baileys.png')
            div.catalog-item__title=options.title
            div.catalog-item__price=options.price
            +buy-button({
              onClick: true
            })
            div или
            +buy-button({
              onClick: false,
              classes: 'catalog-item__button'
            })

