// background
$background__footer: #3BA66B
$background: #FFFFFF

// footer
$footer__title-font: "PlayfairDisplay-Bold", sans-serif
$footer__font: "Roboto-Regular", sans-serif
$footer__color-text: #FFFFFF
