.catalog
  margin-top: 25px
  margin-bottom: 50px
  &__title
    h1
      font-family: $title-font
      color: $header__color-text
      margin-bottom: 25px
      font-size: 40px
      //font-weight: 700
