include catalog-item/catalog-item
mixin catalog()
     section.catalog
        div.container
            div.row
                +catalog-item({
                  title: 'Нужное',
                  img: 'img/zakuski-soki.png',
                  href: '#'
                })
