mixin intro-item(options)
    div.intro__item(class=options.classes)
        div
            img(src=options.img)
        h4=options.title
        p Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
