.intro__item
  margin: 0 auto
  max-width: 300px
  h4
    margin: 15px 0
    font-size: 18px
    text-transform: uppercase
    font-family: $title-font
    color: $header__color-text
  p
    color: $background_sub
    font-family: $font
    font-size: $fs__text
  &_three
    margin-left: 52.5pt
  &_four
    margin-right: 52.5pt

@media screen and (max-width: 1023px)
  .intro__item
    &_three,     &_four
      margin: auto

