extends base/base
block content
    +header
    +bread-crumbs({
        crumbs: [
            {link: '#', text: 'Домашняя'},
            {link: '#', text: 'Каталог'},
            {link: '#', text: 'Бухлишко'},
        ]
    })
    +catalog
    +footer
