include ../../components/types-alcohol/types-alcohol
include ../../components/footer/footer
include ../../components/intro/intro
include ../../components/header/header
include ../../components/catalog/catalog
include ../../components/buy-button/buy-button
include ../../components/bread-crumbs/bread-crumbs
include ../../components/payment/payment
include ../../components/title-logo/title-logo
