include ../../components/types-alcohol/types-alcohol
include ../../components/footer/footer
include ../../components/intro/intro
include ../../components/header/header
include ../../components/catalog/catalog
