mixin alcohol-item(options)
    div.col-12.col-sm-6.col-md-3.alcohol-item.text-center
        a(href=options.href)
            div.alcohol-item__name.text-center=options.title
            div.alcohol-item__img
                img(src=options.img).img-fluid