.intro
  padding: 80px 0 0 0
  background: #F7F6F2
  .row
    margin: 0 auto
    width: 100%
  &__container
    background-image: url("img/bg-intro-4.png")
    background-repeat: no-repeat
    background-position: center bottom
    @media screen and (max-width: 1024px)
      background-image: none
      padding: 80px 0
  &__social
    a
      color: #78B144
    margin: 25px 0
    font-size: 35px
    width: 100%
    max-width: 400px
    justify-content: space-around
    display: flex

  &__header
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    h3
      color: #78B144
      font-size: 36px
      font-family: $title-font
      font-style: italic
    p
      max-width: 400px
      text-align: center
      font-family: $intro-font
      font-size: 14px
      color: $background_sub
      font-style: italic
      line-height: 19.5pt
