.footer
  margin-top: 25px
  padding: 60px 0
  background: $footer__background
  color: $footer__color-text
  &__contacts
    font-family: $font
    font-size: $fs__footer-title
  &__rule
    font-family: $title-font
    font-size: 25px
  &__copyright
    background: #ffffff


