.footer
  padding: 60px 0
  background: $footer__background
  color: $footer__color-text
  &__contacts
    font-family: $font
    font-size: $fs__footer-title
  &__rule
    font-family: $title-font
    font-size: 25px
  &__copyright
    background: #ffffff
    margin: 15px 0
    &-text
      margin-bottom: 15px
    &-img
      img
        max-width: 225px
        width: 100%


