mixin list(options)
    - options.list = options.list ? options.list : [{text: ''}]
    ul(class=options.classes).list
        - for (item of options.list)
            li
                a(href=item.link)=item.text

